<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Meu cantinho de estudos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap-colorpicker/bootstrap-colorpicker/colorstyle")
    @Styles.Render("~/Content/Site")
</head>
<body>
    @using StackExchange.Profiling

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#3298dc;border-color:#3298dc;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Meu Cantinho de Estudos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sobre", "About", "Home", routeValues:null, htmlAttributes: new { @style = "color:white;" })</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Matérias", "Index", "Materias", routeValues: null, new { @style = "color:white" })</li>
                        <li>@Html.ActionLink("Temas", "Index", "Temas", routeValues: null, new { @style = "color:white;" })</li>
                        <li>@Html.ActionLink("Atividades", "Index", "Atividades", routeValues: null, new { @style = "color:white;" })</li>
                        <li>@Html.ActionLink("Vídeo-aulas", "Index", "VideoAulas", routeValues: null, new { @style = "color:white;" })</li>
                        <li>@Html.ActionLink("Exercicios", "Index", "BateriasExercicios", routeValues: null, new { @style = "color:white;" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu cantinho de estudos</p>
        </footer>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/colorscripts")

    @RenderSection("scripts", required: false)

    @(MiniProfiler.Current?.RenderIncludes())
</body>
</html>