@model MeuCantinhoDeEstudos3.Models.Atividade

@{
    ViewBag.Title = "Excluir";
}

<div class="page-header">
    <h2>Excluir</h2>

    <h4>Atividade</h4>
</div>

<div class="alert alert-danger">
    <p>Tem certeza que deseja excluir?</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materia.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
