@model MeuCantinhoDeEstudos3.ViewModels.AtividadeViewModel

@{
    ViewBag.Title = "Editar";

    /* O procesamento abaixo recupera a query string para poder voltar à página anterior
    quando o usuário clicar na âncora 'Voltar' */

    //Buscar a query string da rota anterior e coloca em um NameValueCollection
    var queryStringValues = HttpUtility.ParseQueryString(@Request.UrlReferrer.Query);

    //Cria um dicionário
    IDictionary<string, object> routeValues = new Dictionary<string, object>();

    //Adiciona cada Name e Value da query string ao dicionário
    foreach (var queryString in queryStringValues.AllKeys)
    {
        routeValues.Add(queryString, queryStringValues[queryString.ToString()]);
    }
}

<div class="page-header">
    <h2>Editar</h2>
    <h4>Atividade</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AtividadeId)

        <div class="form-group">
            @Html.LabelFor(model => model.MateriaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MateriaId, Model.Materias, "Selecione", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MateriaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TemaId, Model.Temas, "Selecione", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TemaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control col-md-4", @placeholder = "Descreva o seu estudo para orientar suas revisões. (Ex: Livro Constitucional - pg. 57-69)", @rows = 4, @cols = 4 })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataCriacao, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UsuarioCriacao, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UltimaModificacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UltimaModificacao, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new RouteValueDictionary(routeValues))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#MateriaId").change(function () {
            var optionValue = $(this).find(":selected").val();

            if ($.isNumeric(optionValue)) {
                $.ajax({
                    url: "/BateriasExercicios/SelecionarPorMateria/" + optionValue,
                    success: function (data) {
                        $("#TemaId").empty();
                        $("#TemaId").append('<option value>Selecione</option>');
                        $.each(data, function (index, element) {
                            $("#TemaId").append('<option value="' + element.TemaId + '">' + element.Nome + '</option>');
                        });
                    }
                });
            }
        });
    </script>
}
