@*@model IEnumerable<MeuCantinhoDeEstudos3.ViewModels.BateriaExercicioViewModel>*@
@model PaginatedList<MeuCantinhoDeEstudos3.Models.BateriaExercicio>
@using MeuCantinhoDeEstudos3.Models;
@using Humanizer

@{
    ViewBag.Title = "Exercícios";

    <link rel="stylesheet" href="~/Content/BateriaExercicio.css" />

    var anteriorDesativado = !Model.TemPaginaAnterior ? "disabled" : "";
    var proximaDesativado = !Model.TemProximaPagina ? "disabled" : "";

    var temItems = Model.Count > 0;
}

<div class="page-header">
    <h2>Exercícios</h2>
    <p>Aqui você encontra os exercícios</p>
</div>

<div class="row">
    <div class="col-lg-12 tools">
        <form action="/BateriasExercicios/Index" method="get">
            <div class="form-inline" accesskey="">
                <span>Filtre pela descrição</span>
                <input type="text" class="form-control" name="search" placeholder="Vídeoaula" value="@ViewBag.CurrentSearch" />
                <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
                @Html.ActionLink("Remover filtro", "Index")

                @if (temItems)
                {
                    @Html.ActionLink("Anterior", "Index", new
                    {
                        @ordemClassificacao = ViewBag.ClassificacaoAtual,
                        @numeroPagina = Model.IndicePagina - 1,
                        @filtroAtual = ViewBag.FiltroAtual
                    }, new { @class = $"btn btn-default {anteriorDesativado}", @style = "margin-left:30px;" })

                    @Html.ActionLink("Próxima", "Index", new
                    {
                        @ordemClassificacao = ViewBag.ClassificacaoAtual,
                        @numeroPagina = Model.IndicePagina + 1,
                        @filtroAtual = ViewBag.FiltroAtual
                    }, new { @class = $"btn btn-default {proximaDesativado}" })
                }
            </div>
        </form>

        <div>
            @if (Model.Count() > 0)
            {
                <p>Mostrando <b>@Model.Count()</b> de <b>@Model.QuantidadeElementos</b> atividade(s) cadastrada(s).</p>
            }
            else
            {
                <p>Nenhum exercício cadastrado</p>
            }

            <div>
                @Html.ActionLink("Adicionar exercício", "Create") |
                @Html.ActionLink("Atualizar por excel", "AtualizarPorExcel") |
                @Html.ActionLink("Gerar Excel", "GerarRelatorioExcel", new { @search = ViewBag.CurrentSearch }) |
                @Html.ActionLink("Gerar PDF", "GerarRelatorioPDF", new { @search = ViewBag.CurrentSearch })
            </div>
        </div>
    </div>
</div>

<br />

@if (temItems)
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Descricao", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoDescricao, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Tema.Materia.Nome)*@
                @Html.ActionLink("Matéria", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoMateria, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Tema.Nome)*@
                @Html.ActionLink("Tema", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoTema, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.QuantidadeExercicios)*@
                @Html.ActionLink("Quantidade de exercícios", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoQuantidadeExercicios, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.QuantidadeAcertos)*@
                @Html.ActionLink("Quantidade de acertos", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoQuantidadeAcertos, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Aproveitamento)*@
                @Html.ActionLink("Aproveitamento", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoAproveitamento, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th>
                @Html.ActionLink("Data de criação", "Index", new { @ordemClassificacao = ViewBag.ParametroClassificacaoData, @filtroAtual = ViewBag.FiltroAtual })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema.Materia.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeExercicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeAcertos)
                </td>
                <td>
                    @item.Aproveitamento.ToString("N2")%
                </td>
                @if (@Convert.ToDateTime(DateTime.Now).Subtract(item.DataCriacao).TotalDays > 2)
                {
                    <td>
                        @item.DataCriacao.ToShortDateString() às @item.DataCriacao.ToShortTimeString()
                    </td>
                }
                else
                {
                    <td>
                        @item.DataCriacao.Humanize(false)
                    </td>
                }
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.AtividadeId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.AtividadeId }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.AtividadeId })
                </td>
            </tr>
        }
    </table>
}

<div style="display:flex;float:right;gap:4px;">
    @if (temItems)
    {
        @Html.ActionLink("Anterior", "Index", new
        {
            @ordemClassificacao = ViewBag.ClassificacaoAtual,
            @numeroPagina = Model.IndicePagina - 1,
            @filtroAtual = ViewBag.FiltroAtual
        }, new { @class = $"btn btn-default {anteriorDesativado}", @style = "margin-left:30px;" })

        @Html.ActionLink("Próxima", "Index", new
        {
            @ordemClassificacao = ViewBag.ClassificacaoAtual,
            @numeroPagina = Model.IndicePagina + 1,
            @filtroAtual = ViewBag.FiltroAtual
        }, new { @class = $"btn btn-default {proximaDesativado}" })
    }
</div>

<br />
<br />
