@model IEnumerable<MeuCantinhoDeEstudos3.Models.Tema>

@{
    ViewBag.Title = "Temas";

    <link rel="stylesheet" href="~/Content/Tema.css" />
}

<div class="page-header">
    <h2>Temas</h2>

    <p>Aqui você encontra os temas.</p>
</div>

<div class="row">
    <div class="col-lg-12 tools">
        <form action="/Temas/Index" method="get">
            <div class="form-inline" accesskey="">
                <span>Filtre pelo nome</span>
                <input type="text" class="form-control" name="search" placeholder="Tema" value="@ViewBag.CurrentSearch" />
                <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
                @Html.ActionLink("Remover filtro", "Index")
            </div>
        </form>

        <div>
            @if (Model.Count() > 0)
            {
                <p><b>@Model.Count()</b> atividade(s) cadastrada(s)</p>
            }
            else
            {
                <p>Nenhum tema cadastrado</p>
            }

            <div>
                @Html.ActionLink("Adicionar tema", "Create") |
                @Html.ActionLink("Gerar Excel", "GerarRelatorioExcel", new { @search = ViewBag.CurrentSearch }) |
                @Html.ActionLink("Gerar PDF", "GerarRelatorioPDF", new { @search = ViewBag.CurrentSearch })
            </div>
        </div>
    </div>
</div>

<br />

@Html.LabelFor(m => m)
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materia.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Materia.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TemaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TemaId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.TemaId })
        </td>
    </tr>
}

</table>
