@model MeuCantinhoDeEstudos3.Models.Materia

@{
    ViewBag.Title = "Detalhes";
}

<div class="page-header">
    <h2>Detalhes</h2>
    <h4>Matéria</h4>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorIdentificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorIdentificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temas)
        </dt>

        @if (Model.Temas.Count > 0)
        {
            foreach (var tema in Model.Temas)
            {
                <dd>@Html.DisplayFor(modelItem => tema.Nome)</dd>
            }
        }
        else
        {
            <dd></dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MateriaId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
