@model MeuCantinhoDeEstudos3.Models.Materia
@using Humanizer

@{
    ViewBag.Title = "Detalhes";

    /* O procesamento abaixo recupera a query string para poder voltar à página anterior
    quando o usuário clicar na âncora 'Voltar' */

    //Buscar a query string da rota anterior e coloca em um NameValueCollection
    var queryStringValues = HttpUtility.ParseQueryString(@Request.UrlReferrer.Query);

    //Cria um dicionário
    IDictionary<string, object> routeValues = new Dictionary<string, object>();

    //Adiciona cada Name e Value da query string ao dicionário
    foreach (var queryString in queryStringValues.AllKeys)
    {
        routeValues.Add(queryString, queryStringValues[queryString.ToString()]);
    }
}

<div class="page-header toolsHeader">
    <h2>Detalhes</h2>
    <h4>Matéria</h4>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorIdentificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorIdentificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temas)
        </dt>

        @if (Model.Temas.Count > 0)
        {
            foreach (var tema in Model.Temas)
            {
                <dd>@Html.DisplayFor(modelItem => tema.Nome)</dd>
            }
        }
        else
        {
            <dd></dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        @if (@Convert.ToDateTime(DateTime.Now).Subtract(Model.DataCriacao).TotalDays > 2)
        {
            <dd>
                @Model.DataCriacao.ToShortDateString() às @Model.DataCriacao.ToShortTimeString()
            </dd>
        }
        else
        {
            <dd>
                @Model.DataCriacao.Humanize(false)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        @if (Model.UltimaModificacao.HasValue)
        {
            if (@Convert.ToDateTime(DateTime.Now).Subtract(Model.UltimaModificacao.GetValueOrDefault()).TotalDays > 2)
            {
                <dd>
                    @Model.UltimaModificacao.Value.ToShortDateString() às @Model.UltimaModificacao.Value.ToShortTimeString()
                </dd>
            }
            else
            {
                <dd>
                    @Model.UltimaModificacao.Humanize(false)
                </dd>
            }
        }
        else
        {
            <dd></dd>
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MateriaId }) |
    @Html.ActionLink("Voltar", "Index", new RouteValueDictionary(routeValues))
</p>
