@model MeuCantinhoDeEstudos3.ViewModels.VideoAulaViewModel
@using Humanizer

@{
    ViewBag.Title = "Excluir";

    /* O procesamento abaixo recupera a query string para poder voltar à página anterior
    quando o usuário clicar na âncora 'Voltar' */

    //Buscar a query string da rota anterior e coloca em um NameValueCollection
    var queryStringValues = HttpUtility.ParseQueryString(@Request.UrlReferrer.Query);

    //Cria um dicionário
    IDictionary<string, object> routeValues = new Dictionary<string, object>();

    //Adiciona cada Name e Value da query string ao dicionário
    foreach (var queryString in queryStringValues.AllKeys)
    {
        routeValues.Add(queryString, queryStringValues[queryString.ToString()]);
    }
}

<div class="page-header">
    <h2>Excluir</h2>

    <h4>VideoAula</h4>
</div>

<div class="alert alert-danger">
    <p>Tem certeza que deseja excluir?</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Materia.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Materia.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        @if (@Convert.ToDateTime(DateTime.Now).Subtract(Model.DataCriacao).TotalDays > 2)
        {
            <dd>
                @Model.DataCriacao.ToShortDateString() às @Model.DataCriacao.ToShortTimeString()
            </dd>
        }
        else
        {
            <dd>
                @Model.DataCriacao.Humanize(false)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        @if (Model.UltimaModificacao.HasValue)
        {
            if (@Convert.ToDateTime(DateTime.Now).Subtract(Model.UltimaModificacao.GetValueOrDefault()).TotalDays > 2)
            {
                <dd>
                    @Model.UltimaModificacao.Value.ToShortDateString() às @Model.UltimaModificacao.Value.ToShortTimeString()
                </dd>
            }
            else
            {
                <dd>
                    @Model.UltimaModificacao.Humanize(false)
                </dd>
            }
        }
        else
        {
            <dd></dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index", new RouteValueDictionary(routeValues))
        </div>
    }
</div>
