@model MeuCantinhoDeEstudos3.ViewModels.VideoAulaViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div class="page-header">
    <h2>Detalhes</h2>
    <h4>VideoAula</h4>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Materia.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Materia.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AtividadeId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
