@model MeuCantinhoDeEstudos3.ViewModels.VideoAulaViewModel
@using Humanizer

@{
    ViewBag.Title = "Detalhes";
}

<div class="page-header">
    <h2>Detalhes</h2>
    <h4>VideoAula</h4>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Materia.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Materia.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        @if (@Convert.ToDateTime(DateTime.Now).Subtract(Model.DataCriacao).TotalDays > 2)
        {
            <dd>
                @Model.DataCriacao.ToShortDateString() às @Model.DataCriacao.ToShortTimeString()
            </dd>
        }
        else
        {
            <dd>
                @Model.DataCriacao.Humanize(false)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        @if (Model.UltimaModificacao.HasValue)
        {
            if (@Convert.ToDateTime(DateTime.Now).Subtract(Model.UltimaModificacao.GetValueOrDefault()).TotalDays > 2)
            {
                <dd>
                    @Model.UltimaModificacao.Value.ToShortDateString() às @Model.UltimaModificacao.Value.ToShortTimeString()
                </dd>
            }
            else
            {
                <dd>
                    @Model.UltimaModificacao.Humanize(false)
                </dd>
            }
        }
        else
        {
            <dd></dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AtividadeId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
